.billboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  font-size: 128px;
}

