.wallet {
  text-align: right;
  width: 100%;
  z-index: 1;
  position: relative;
}

.wallet a {
 color: #4E9CAF;
 display: inline-block;
 width: 100%;
}

.wallet a:hover {
  cursor: pointer;
  text-decoration: underline;
}
